body {
    margin: 0;
}

.name, .text, .language, .sociallink {
    margin: 0px 8px 0px 8px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    margin: 5%;

}

.profilcontainer {
    display: flex;
    width: 400px;
    height: 600px;
    flex-direction: column;
    background-color: rgba(24, 47, 99, 0.3);
    margin-top: 50px;
    border: 1px solid black;
    margin-left: 1%;
}

.picture {
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 65%;
    margin: auto;
    margin-top: 2%;
}

.name {
    text-align: center;
    font-family: Georgia;
    font-size: 1.4em;
    flex: 1;
    max-height: 5%;
}

.text {
  color: darkblue;
    flex: 1;
    max-height: 16%;
}

.sociallink {
    display: flex;
    flex: 1;
    max-height: 7%;
}

.language {
    display: flex;
    flex: 1;
    max-height: 7%;
}
.iconlink{
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.iconbox {
    margin: auto;
    width: 30px;
    height: 30px;
    max-width: 100%;
    max-height: 100%;
}


/* will be used once i find a good icon for it
.ASM{
  background-image: url();
  background-repeat: no-repeat;
  background-size: contain;
}
*/


/*sociallink icon classes*/

.twitter {
  background-image: url(icon/sociallink/twitter.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.github {
  background-image: url(icon/sociallink/github.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.wordpress {
  background-image: url(icon/sociallink/wordpress.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.linkedin {
  background-image: url(icon/sociallink/linkedin.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.viadeo {
  background-image: url(icon/sociallink/viadeo.png);
  background-repeat: no-repeat;
  background-size: contain;
}


/*language icon classes*/

.C {
    background-image: url(icon/language/C.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.Cplusplus {
    background-image: url(icon/language/C++.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.Csharp {
    background-image: url(icon/language/C#.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.javascript {
    background-image: url(icon/language/javascript.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.HTML {
    background-image: url(icon/language/html5.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.CSS {
    background-image: url(icon/language/CSS3.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.ruby {
    background-image: url(icon/language/Ruby.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.phyton {
    background-image: url(icon/language/python.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.PHP {
    background-image: url(icon/language/php.png);
    background-repeat: no-repeat;
    background-size: contain;
}
