.flexbox{
  display: flex;
  flex-wrap: wrap;
    justify-content: flex-start;;
    align-items: flex-start;
    margin: 2%;
}
body{
  margin: 0;
  background-color: blue;
}
.profilcontainer{
   flex: calc(100%/4);
  background-color: purple;
  margin: auto;
}
.picture{
  background-color: red;
  margin: 5px;
}
img{
    margin: 5px;
    max-width: 90%;
}
